<!DOCTYPE html>
<html>

<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="static/css/styles.css" rel='stylesheet'>
    <link href="https://fontawesome.com/icons?d=gallery&m=free" rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <meta charset="UTF-8" />
    <title> Bienvenidos a Mercado Liebre</title>
</head>

<body>


    <header>
        <img src="static/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre">
        <input type='search' id='input-search' placeholder='Buscar productos, marcas'> <br>
        <i class="fas fa-search"></i>
        <i class="fas fa-bars"></i>


        <p class="destacado"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        <nav>
            <ul>
                <li> <a Ofertas href="#">Ofertas</a></li>
                <li> <a Tiendas Oficiales href="#">Oficiales</a></li>
                <li> <a Vender href="#">Vender</a></li>
                <li><a Ayuda href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a Crea tu cuenta href="/register"><i class="fas fa-id-card"></i>Crea tu cuenta</a></li>
                <li> <a Ingresa href="/login"><i class="fas fa-chevron-circle-right"></i>Ingresa</a></li>
                <li><a Mis Compras href="#"><i class="fas fa-shopping-bag"></i>Mis Compras</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <class="Crear-cuenta">

            <form action="/" method="get">

                <class="Datas"> <input type="text" name="name" placeholder="Nombre y Apellido">

                    <input type="email" name="email" placeholder="email"></class>
                    <div class="Enter-information">
                        <h5><label for="start"> Start Date</label></h5>

                        <h5><input type="date" id="start" name="trip-start" value="2018-07-22" min="1960-01-01"
                                max="2025-12-31"></h5>

                        <h5> <input type="adress" name="adress" placeholder="Direccion"></h5>

                        <h5> <label>Quieres comprar o Vender</label></h5>

                        <h5> <input type="radio" value="Vender" id="Vender"></h5>

                        <h5> <label for="Vender">Vender</label></h5>

                        <h5> <input type="radio" value="Comprar" id="Comprar"></h5>

                        <h5> <label for="Comprar">Comprar</label></h5>

                        <select multiple name="Categorias de interes" id="Categorias de interes">

                            <h6>
                                <option>Electro</option>
                            </h6>

                            <h6>
                                <option>Moda</option>
                            </h6>

                            <h6>
                                <option>Hogar</option>
                            </h6>

                            <h6>
                                <option>Jugeteria</option>
                            </h6>

                            <h6>
                                <option>Vida Sana</option>
                            </h6>

                        </select>

                        <h5> <label for="pass">Contraseña</label></h5>

                        <h5><input type="password" name="password" id="password" required></h5>

                        <h5><label for="pass">Confirmar Contraseña</label></h5>

                        <h5><input type="password" name="password" id="password" required></h5>

                        <h5><button type="reset">Borrar Datos del formulario</button></h5>

                        <h5><input type="submit" value="Enviar"></h5>

                        <h5> <input type="reset" value="Borrar"></h5>
                        </class>
                    </div>
            </form>
    </main>
    <footer>
        </section>
    </footer>

</body>

</html>